header {
    button {
        font-size: 1.1rem;
        padding: 0.5rem;
        margin: 1rem;
    }
    
    label {
        font-size: 1.1rem;
        margin: 0 1rem;
    }
    
    input[type="text"] {
        padding: 0.5rem;
    }
}