.board-row {
    --cell-size: 64px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
    
    .click-cell {
        background: none;
        border: none;
        width: var(--cell-size);
        height: var(--cell-size);
        
        &.active:hover {
            cursor: pointer;
            background: url("/arrow-small-left.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            
            &.left {
                transform: rotate(180deg);
            }
        }
    }
    
    .cell {
        display: flex;
        place-content: center;
        place-items: center;
        width: var(--cell-size);
        height: var(--cell-size);
        border: 1px solid grey;
    
        .piece {
            border-radius: 50%;
            min-width: 75%;
            min-height: 75%;
            
            &.red {
                background: red;
            }
            
            &.blue {
                background: blue;
            }
        }
    }
}